- name: Build And Deploy
  id: builddeploy
  uses: Azure/static-web-apps-deploy@v1
  with:
    azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_WONDERFUL_MUD_08A85FE03 }}
    action: "upload"
    app_location: "/"
    output_location: "/"
    skip_app_build: true
    github_id_token: ${{ steps.idtoken.outputs.result }}
