name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Zip project
      run: zip -r site.zip .

    - name: Copy files to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: 3.8.163.147
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "site.zip"
        target: "~/"

    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: 3.8.163.147
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          sudo apt update -y
          sudo apt install nginx -y

          sudo mkdir -p /var/www/ci-cd.dice15.online
          sudo unzip -o ~/site.zip -d /var/www/ci-cd.dice15.online

          sudo chown -R www-data:www-data /var/www/ci-cd.dice15.online

          sudo tee /etc/nginx/sites-available/ci-cd.dice15.online > /dev/null <<EOF
          server {
              listen 80;
              server_name ci-cd.dice15.online;

              root /var/www/ci-cd.dice15.online;
              index index.html;

              location / {
                  try_files \$uri \$uri/ =404;
              }
          }
          EOF

          sudo ln -sf /etc/nginx/sites-available/ci-cd.dice15.online /etc/nginx/sites-enabled/
          sudo nginx -t
          sudo systemctl restart nginx
