name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Zip project
      run: |
        cd $GITHUB_WORKSPACE
        zip -r site.zip . -x "*.git*"

    - name: Copy files to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: 3.8.163.147
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "${{ github.workspace }}/site.zip"
        target: "~/"
        debug: true

    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: 3.8.163.147
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          sudo apt update -y
          sudo apt install nginx -y

          sudo mkdir -p /var/www/cicd-githubactions.binadam.net
          sudo unzip -o ~/site.zip -d /var/www/cicd-githubactions.binadam.net

          sudo chown -R www-data:www-data /var/www/cicd-githubactions.binadam.net

          sudo tee /etc/nginx/sites-available/cicd-githubactions.binadam.net > /dev/null <<EOF
          server {
              listen 80;
              server_name cicd-githubactions.binadam.net;

              root /var/www/cicd-githubactions.binadam.net;
              index index.html;

              location / {
                  try_files \$uri \$uri/ =404;
              }
          }
          EOF

          sudo ln -sf /etc/nginx/sites-available/cicd-githubactions.binadam.net /etc/nginx/sites-enabled/
          sudo nginx -t
          sudo systemctl restart nginx
