name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Zip project
      run: |
        cd $GITHUB_WORKSPACE
        zip -r site.zip . -x "*.git*"

    - name: Upload site.zip to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: 3.8.163.147
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "${{ github.workspace }}/site.zip"
        target: "~/deploy"
        debug: true

    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: 3.8.163.147
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          set -e

          # Ensure unzip exists
          sudo apt update -y
          sudo apt install unzip -y

          # Ensure deploy folder exists
          mkdir -p ~/deploy

          # Unzip into web root
          sudo unzip -o ~/deploy/site.zip -d /var/www/cicd-githubactions.binadam.net

          # Fix permissions
          sudo chown -R www-data:www-data /var/www/cicd-githubactions.binadam.net
          sudo chmod -R 755 /var/www/cicd-githubactions.binadam.net

          # Reload nginx safely
          sudo nginx -t
          sudo systemctl reload nginx
